@media screen and (max-width: 320px) { @viewport { width: 320px; } }   @media screen and (min-width: 768px) and (max-width: 959px) { @viewport { width: 768px; } }
@media screen and (max-width: 320px) { @viewport { width: 320px; } }

body {
	margin :0;
	padding :0;
	background-color :#000000;
	line-height :25px;
	
}
a {
	outline :0;
	text-decoration:none;
}
img {
	border :0;
}





.header {
	height :220px;
	width :100%;
	background-repeat :repeat-x;
	background-position :bottom;
	
}
.header div {
	width :960px;
	margin :0 auto;
	position :relative;
}
.header div a img {
	border :0;
	float :left;
	overflow :hidden;
	 margin-left: auto;
    margin-right: auto;
}
.header div img.logo {
	border :10;
	overflow :hidden;
	margin-top :10px;
	 margin-left: auto;
	margin-right: auto;
	
}

.logo {
	width: 1000px;
	height: 100px;
}

.navigation {
	box-align: center;
	padding :0;
	list-style-type :none;
	position :absolute;
	left :170px;
	top :160px;
	overflow :hidden;
	width: 900px;
	
	
}
.navigation li {
	float :left;
}
.navigation li:first-child a {
	padding-left :0;
}
.navigation li a {
	text-decoration :none;
	margin :0px 0px 0px 10px;
	padding :10px 10px 0px 10px;
	font-family :'Nunito';
	font-size :30px;
	color :#ffffff;
	width :960px;
}
.navigation li a:hover {
	color :#ACACAC;
}
.navigation li a {
	color :#ffffff;
}
.body {
	width :1042px;
	margin :0 auto;
	overflow :hidden;
}


.body #content {
	width :960px;
	margin :30px 35px;
	height :auto;
	padding-top :18px;
	background-color :#969696;
}
.body #content div {
	width :960px;
	background-color :#ffffff;
	padding-bottom :22px;
}
.body #content div div {
	width :860px;
	padding :10px 50px 50px 50px;
	background-color :#ffffff;
}
.body #content div div h1 {
	font-family :'Nunito';
	font-size :36px;
	color :#686868;
	font-weight :normal;
	margin-bottom :50px;
	text-align: center

}
.body #content div div ul {
	list-style-type :none;
	margin :0;
	padding :0;
}
.body #content div div ul li {
	float :none;
	
	border-top :none;
	border-left :none;
	border-right :none;
	margin :0 0 50px 0;
	position:relative;
	padding-bottom: 20px;
}
.body #content div div ul li h2 {
	font-family :'Nunito';
	font-size :30px;
	color :#acacac;
	font-weight :normal;
	width :850px;
	
}


.body #content div div ul li h2 a {
	font-family :'Nunito';
	font-size :30px;
	color :#686868;
	font-weight :normal;

	
}



h2 a {
	font-family :'Arial';
	font-size :24px;
	color :#1B7982;
	text-decoration :none;
	font-weight :normal;
}

h2 {
	font-family :'Arial';
	font-size :22px;
	color :#acacac;
	text-decoration :none;
	
}

h3 {
	color:#acacac;
	text-decoration:none;
	font-size:18px;
	text-align:left;
	font-family :'Arial';
	margin-left: 50px;
}

h4 {
	color:#acacac;
	text-decoration:none;
	font-size:17px;
	text-align:left;
	font-family :'Arial';
	margin-left: 80px;
}


p {
	font-family :'Arial';
	font-size :16px;
	color :#000000;
	font-weight :normal;
	text-align:justify;
}



.body #content div div ul li {
	border :none;
}





footer div {
	width :933px;
	margin :0 auto;
	position: relative;
	left: 280px;
}


.footer-menu {
	
	text-align: center;
	color:#fff;
	line-height: 12px;
}



.me {
	position: relative;
	width: 200px;
	height: 200px;
	background: white;
	border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
	color: white;
	box-shadow: 20px 20px rgba(0,0,0,.15);
	transition: all .4s ease;
  }
  .me:hover {
	border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
	box-shadow: 10px 10px rgba(0,0,0,.25);
  }
  
.contact {

	position: absolute;
	left: 700px;
	bottom: 100px;
	width: 100px;
	height: 50px;
	
}

table {
	position: relative;
	
	bottom: 30px;
}


table,th,td {
		border:2px solid black;
		
	}
	
	tr {
		background-color:black;
		color:white;
		font-family: 'Arial';
	}
	th {
		background-color:grey;
		color:black;
	}

	
	.sidenav {
		height: 100%;
		width: 140px;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: #686868;
		overflow-x: hidden;
		padding-top: 300px;
	  }
	  
	  .sidenav a, li {
		padding: 5px;
		text-decoration: none;
		font-size: 25px;
		color: black;
		display: block;
	  }
	  
	  .sidenav a:hover {
		color: #f1f1f1;
	  }

	  #ui {
	
		display: block;
		background-color: none;
		width :1042px;
		margin :0 auto;
		overflow :hidden;
		
	  }
		
	.column {
		padding: 20px;
		border-radius: 15px 50px 30px;
		border: 2px solid grey;
		padding: 20px; 
	}

	#ui p {
		color: whitesmoke;
	}

	.wel {
		
			border :10;
			overflow :hidden;
			margin-top :10px;
			 margin-left: auto;
			margin-right: auto;
			align-content: center;
			position: relative;
			left: 180px;
			width: 500px;
			height: 300px;
			bottom: 40px;
		
	}